* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100vh;
}
body {
    font-family: roboto, arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
h1{
    margin: 3rem 0rem 5rem;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    gap: .25rem;
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    background-color: white;
    width: 10rem;
    height: 10rem;
    display: flex;
}